<h1>Recently Access URLs</h1></br>

<p>Write Your Short URL for Searching</p>
<%= form_tag "short_urls#index", method: :get do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>

<table class="table table-striped">
	<thead class="thead-inverse">
		<th>URL</th>
		<th></th>
		<th>Short Url</th>
		<th>Number of Times the URL is Searched</th>		
	</thead>
	<tbody>
	<% @urls.each do |single_url| %>	
		<tr>
			<td><%= single_url.url %></td>
			<td></td>
			<% url_id = ShortUrl.bijective_decode(single_url.short_url)%>
			<td><%= link_to "http://strl/#{single_url.short_url}", "http://www.#{ShortUrl.find_by(unique_key: url_id).try(:url)}.com" %></td>
			<td><%= single_url.count %></td>
		</tr>
	<% end %>
		
	</tbody>
</table>
