<h1>Recently Access URLs</h1></br>

<p>Write Your Short URL for Searching</p>
<%= form_tag "short_urls#index", method: :get do %>
	<%= text_field_tag :search %>
	<%= submit_tag "Submit", class: "btn btn-primary" %>
<% end %>

<table class="table table-striped">
	<thead class="thead-inverse">
		<th>URL</th>
		<th></th>
		<th>Short Url</th>
		<th>Number of Times the URL is Searched</th>		
	</thead>
	<tbody>
	<% @urls.each do |single_url| %>	
		<tr>
			<td><%= single_url.url %></td>
			<td></td>			
			<td><%= link_to "https://secure-ravine-12192.herokuapp.com/short_urls/original/#{single_url.short_url}", original_path(:url=>  single_url.short_url), target: :blank %></td>
			<td><%= single_url.count %></td>
		</tr>
	<% end %>
		
	</tbody>
</table>
